@import "common.scss";


footer {
    .footer__top {
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: #4D5959;
        .footer__img {
            width: 200px;
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
            @include mq('md') {
                width: 300px;
                margin-bottom: 0;
            }
        }
        .footer__list {
            @include mq('md') {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            li {
                text-align: center;
                margin-bottom: 20px;
                @include mq('md') {
                    margin-bottom: 0;
                }
                a {
                    padding: 10px 15px;
                    margin: 0 20px;
                    color: #fff;
                    &:hover {
                        transition: 0.3s;
                        opacity: 0.7;
                    }
                }
                .footer__item-img {
                    display: block;
                    img {
                    width: 50px;
                    display: block;
                    margin: 0 auto;
                    @include mq('md') {
                        margin: auto;
                    }
                    }
                }
            }
            .menu-item-30 {
                a {
                    background-color: #fff;
                    color: #4D5959;
                    border: 1px solid #fff;
                    &:hover {
                        opacity: 1;
                        background-color: #4D5959;
                        color: #fff;
                    }
                }
            }
            .menu-item-28 {
                a {
                    display: block;
                    img {
                    width: 50px;
                    display: block;
                    margin: 0 auto;
                    @include mq('md') {
                        margin: auto;
                    }
                    }
                }
            }
        }
    }
    .footer__bottom {
        background-color: $text-color;
        p {
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
    }
}