footer .footer__top {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #4D5959;
}

footer .footer__top .footer__img {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1080px) {
  footer .footer__top .footer__img {
    width: 300px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1080px) {
  footer .footer__top ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer .footer__top ul li {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1080px) {
  footer .footer__top ul li {
    margin-bottom: 0;
  }
}

footer .footer__top ul li a {
  padding: 10px 15px;
  margin: 0 20px;
  color: #fff;
}

footer .footer__top ul li a:hover {
  transition: 0.3s;
  opacity: 0.7;
}

footer .footer__top ul li .footer__item-white {
  background-color: #fff;
  color: #4D5959;
  border: 1px solid #fff;
}

footer .footer__top ul li .footer__item-white:hover {
  opacity: 1;
  background-color: #4D5959;
  color: #fff;
}

footer .footer__top ul li .footer__item-img {
  display: block;
}

footer .footer__top ul li .footer__item-img img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  footer .footer__top ul li .footer__item-img img {
    margin: auto;
  }
}

footer .footer__bottom {
  background-color: #000000;
}

footer .footer__bottom p {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
