

@charset "UTF-8";


html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

img {
  width: 100%;
  display: block;
}

img[src$=".svg"] {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}