@charset "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

img {
  width: 100%;
  display: block;
}

img[src$=".svg"] {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav.NavMenu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #510000;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  transform: translateX(100%);
}

nav.NavMenu ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

nav.NavMenu ul li {
  font-size: 20px;
  list-style-type: none;
  text-align: center;
  transition: 0.3s;
}

nav.NavMenu ul li:nth-last-child() {
  padding-bottom: 0;
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  nav.NavMenu ul li {
    font-size: 24px;
    font-weight: bold;
  }
}

nav.NavMenu ul li a {
  display: block;
  color: #000000;
  padding: 10px 0;
  margin-bottom: 20px;
}

nav.NavMenu.active {
  transform: translateX(0%);
}

.Toggle {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 200;
}

@media screen and (min-width: 1080px) {
  .Toggle {
    display: none;
  }
}

.Toggle span {
  display: block;
  position: absolute;
  width: 30px;
  border-bottom: solid 3px #000000;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 9px;
}

.Toggle span:nth-child(1) {
  top: 14px;
}

.Toggle span:nth-child(2) {
  top: 24px;
}

.Toggle span:nth-child(3) {
  top: 34px;
}

.Toggle.active span:nth-child(1) {
  top: 20px;
  left: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

header {
  background-color: #510000;
  line-height: 50px;
  height: 50px;
}

@media screen and (min-width: 1080px) {
  header {
    height: 80px;
    line-height: 80px;
  }
}

header .header__inner {
  max-width: 1180px;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 1080px) {
  header .header__inner {
    padding: 0 50px;
  }
}

header .header__inner .header__items {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1080px) {
  header .header__inner .header__items {
    height: 80px;
  }
}

header .header__inner .header__items .header__img img {
  width: 150px;
  display: block;
}

header .header__inner .header__items .header__item-pc {
  display: none;
}

@media screen and (min-width: 1080px) {
  header .header__inner .header__items .header__item-pc {
    display: block;
  }
}

header .header__inner .header__items .header__item-pc .header__list {
  display: flex;
  align-items: center;
}

header .header__inner .header__items .header__item-pc .header__list li a {
  color: #fff;
  padding: 10px 15px;
  margin: 0 10px;
}

header .header__inner .header__items .header__item-pc .header__list li a:hover {
  transition: 0.3s;
  opacity: 0.7;
}

header .header__inner .header__items .header__item-pc .header__list li .header__item-red {
  color: #510000;
  background-color: #fff;
  border: 1px solid #Fff;
}

header .header__inner .header__items .header__item-pc .header__list li .header__item-red:hover {
  background-color: #510000;
  color: #fff;
  opacity: 1;
  transition: 0.3s;
}

footer .footer__top {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #4D5959;
}

footer .footer__top .footer__img {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1080px) {
  footer .footer__top .footer__img {
    width: 300px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1080px) {
  footer .footer__top ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer .footer__top ul li {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1080px) {
  footer .footer__top ul li {
    margin-bottom: 0;
  }
}

footer .footer__top ul li a {
  padding: 10px 15px;
  margin: 0 20px;
  color: #fff;
}

footer .footer__top ul li a:hover {
  transition: 0.3s;
  opacity: 0.7;
}

footer .footer__top ul li .footer__item-white {
  background-color: #fff;
  color: #4D5959;
  border: 1px solid #fff;
}

footer .footer__top ul li .footer__item-white:hover {
  opacity: 1;
  background-color: #4D5959;
  color: #fff;
}

footer .footer__top ul li .footer__item-img {
  display: block;
}

footer .footer__top ul li .footer__item-img img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  footer .footer__top ul li .footer__item-img img {
    margin: auto;
  }
}

footer .footer__bottom {
  background-color: #000000;
}

footer .footer__bottom p {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.teacher__wrapper .teacher__items {
  padding-bottom: 200px;
}

@media screen and (min-width: 1080px) {
  .teacher__wrapper .teacher__items {
    display: flex;
    justify-content: space-between;
  }
  .teacher__wrapper .teacher__items:nth-child(3) {
    flex-direction: row-reverse;
  }
}

.teacher__wrapper .teacher__items .teacher__img {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media screen and (min-width: 1080px) {
  .teacher__wrapper .teacher__items .teacher__img {
    width: 40%;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1080px) {
  .teacher__wrapper .teacher__items .teacher__item-text {
    width: 50%;
  }
}

.teacher__wrapper .teacher__items .teacher__item-text .teacher__title {
  font-size: 24px;
  font-weight: bold;
}

.teacher__wrapper .teacher__items .teacher__item-text .teacher__text-subject {
  padding-bottom: 10px;
  font-size: 20px;
}

.teacher__wrapper .teacher__items .teacher__item-text .teacher__text-school {
  padding-bottom: 20px;
}

.teacher__wrapper .teacher__items .teacher__item-text .teacher__text {
  line-height: 30px;
}

.teacher__wrapper .teacher__text-bottom {
  text-align: center;
  font-size: 30px;
}

.company__wrapper .company__contents {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .company__wrapper .company__contents {
    width: 80%;
    max-width: 900px;
  }
}

.company__wrapper .company__contents .company__items {
  padding: 15px 0;
  border-bottom: 1px solid #8E8E8E;
}

@media screen and (min-width: 1080px) {
  .company__wrapper .company__contents .company__items {
    display: flex;
    padding: 20px 0;
  }
}

.company__wrapper .company__contents .company__items .company__title {
  display: block;
  padding-bottom: 5px;
}

.company__wrapper .company__contents .company__items .company__title span {
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 1080px) {
  .company__wrapper .company__contents .company__items .company__title {
    width: 30%;
    padding-bottom: 0;
  }
}

.company__wrapper .company__contents .company__items .company__text {
  display: block;
}

.company__wrapper .company__contents .company__items .company__item-text .company__link {
  color: #510000;
}

.company__wrapper .company__contents .company__items .company__item-text .company__link a {
  border-bottom: 1px solid #510000;
  opacity: 0.7;
}

.company__wrapper .company__contents .company__items a {
  color: #510000;
  border-bottom: 1px solid #510000;
  opacity: 0.7;
}

@media screen and (min-width: 1080px) {
  .voice__wrapper .voice__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.voice__wrapper .voice__items .voice__item {
  background-color: rgba(81, 0, 0, 0.2);
  padding: 30px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1080px) {
  .voice__wrapper .voice__items .voice__item {
    margin-right: 40px;
    width: calc(50% - 40px * 1 / 2);
  }
  .voice__wrapper .voice__items .voice__item:nth-child(2n) {
    margin-right: 0;
  }
}

.voice__wrapper .voice__items .voice__item .voice__title {
  text-align: center;
  padding: 8px;
  background-color: #fff;
  margin-bottom: 20px;
  position: relative;
}

.voice__wrapper .voice__items .voice__item .voice__title:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-top: 15px solid #Fff;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
}

.voice__wrapper .voice__items .voice__item .voice__text {
  line-height: 30px;
}

.voice__wrapper .voice__items .voice__item .voice__name {
  text-align: right;
}

.contact__wrapper .contact__text-top {
  text-align: center;
  padding-bottom: 50px;
  line-height: 30px;
}

@media screen and (min-width: 1080px) {
  .contact__wrapper .contact__text-top {
    line-height: 30px;
  }
}

.contact__wrapper .contact__body {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.contact__wrapper .contact__body form .contact__item {
  padding-bottom: 30px;
}

@media screen and (min-width: 1080px) {
  .contact__wrapper .contact__body form .contact__item {
    display: flex;
    align-items: center;
  }
}

.contact__wrapper .contact__body form .contact__item .contact__title {
  display: block;
  padding-bottom: 10px;
}

.contact__wrapper .contact__body form .contact__item .contact__title span {
  color: #fff;
  background-color: #510000;
  padding: 5px;
  margin-left: 10px;
}

@media screen and (min-width: 1080px) {
  .contact__wrapper .contact__body form .contact__item .contact__title {
    width: 30%;
    padding-bottom: 0;
  }
}

.contact__wrapper .contact__body form .contact__item input[type="text"] {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #8E8E8E;
}

@media screen and (min-width: 1080px) {
  .contact__wrapper .contact__body form .contact__item input[type="text"] {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .contact__wrapper .contact__body form .contact__item .contact__item-radio {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1080px) {
  .contact__wrapper .contact__body form .contact__item .contact__item-radio {
    width: 70%;
  }
}

.contact__wrapper .contact__body form .contact__item .contact__item-radio .contact__input {
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contact__wrapper .contact__body form .contact__item .contact__item-radio .contact__input {
    width: 33%;
    padding-bottom: 0;
  }
}

.contact__wrapper .contact__body form .contact__item .contact__item-radio .contact__input-radio {
  display: none;
}

.contact__wrapper .contact__body form .contact__item .contact__item-radio .contact__input-radio + label {
  padding-left: 30px;
  position: relative;
}

.contact__wrapper .contact__body form .contact__item .contact__item-radio .contact__input-radio + label::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #8E8E8E;
  border-radius: 50%;
}

.contact__wrapper .contact__body form .contact__item .contact__item-radio .contact__input-radio:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 5px;
  width: 12px;
  height: 12px;
  background: #510000;
  border-radius: 50%;
}

.contact__wrapper .contact__body form .contact__item textarea {
  border: 1px solid #8E8E8E;
  border-radius: 10px;
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .contact__wrapper .contact__body form .contact__item textarea {
    width: 70%;
  }
}

.contact__wrapper .contact__body form input[type="submit"] {
  display: block;
  margin: 0 auto;
  border: 1px solid #510000;
  background-color: #510000;
  color: #fff;
  font-size: 24px;
  padding: 10px 40px;
  border-radius: 20px;
}

.contact__wrapper .contact__body form input[type="submit"]:hover {
  background-color: #fff;
  color: #510000;
  transition: 0.3s;
}

.flow__wrapper .flow__contents {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.flow__wrapper .flow__contents .flow__items {
  padding: 20px;
  align-items: center;
  border: 1px solid #510000;
  background-color: rgba(81, 0, 0, 0.05);
}

@media screen and (min-width: 1080px) {
  .flow__wrapper .flow__contents .flow__items {
    display: flex;
  }
}

.flow__wrapper .flow__contents .flow__items .flow__item-number {
  display: none;
}

@media screen and (min-width: 1080px) {
  .flow__wrapper .flow__contents .flow__items .flow__item-number {
    font-size: 100px;
    padding: 0 30px;
    display: block;
    color: #510000;
  }
}

.flow__wrapper .flow__contents .flow__items .flow__item-text .flow__title {
  font-size: 20px;
  padding-bottom: 5px;
}

@media screen and (min-width: 1080px) {
  .flow__wrapper .flow__contents .flow__items .flow__item-text .flow__title {
    font-size: 24px;
  }
}

.flow__wrapper .flow__contents .flow__items .flow__item-text .flow__title span {
  display: inline-block;
  font-size: 40px;
  padding-right: 10px;
  color: #510000;
}

@media screen and (min-width: 1080px) {
  .flow__wrapper .flow__contents .flow__items .flow__item-text .flow__title span {
    display: none;
  }
}

.flow__wrapper .flow__contents .flow__items .flow__item-text .flow__text {
  font-size: 16px;
  line-height: 30px;
}

.flow__wrapper .flow__contents .flow__img {
  width: 40px;
  display: block;
  margin: 20px auto;
}

.course__wrapper .course__items {
  padding-bottom: 20px;
  border-bottom: 2px solid #510000;
  max-width: 900px;
  display: block;
  margin: 0 auto 40px auto;
}

@media screen and (min-width: 768px) {
  .course__wrapper .course__items .course__title {
    display: flex;
    align-items: baseline;
  }
}

.course__wrapper .course__items .course__title .course__main-title {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .course__wrapper .course__items .course__title .course__main-title {
    padding-right: 30px;
    font-size: 36px;
  }
}

.course__wrapper .course__items .course__title .course__price {
  color: #510000;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .course__wrapper .course__items .course__title .course__price {
    font-size: 20px;
  }
}

.course__wrapper .course__items .course__title .course__price span {
  color: #510000;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .course__wrapper .course__items .course__title .course__price span {
    font-size: 30px;
  }
}

.course__wrapper .course__items ul {
  margin-left: 1em;
}

.course__wrapper .course__items ul li {
  line-height: 30px;
}

.course__wrapper .course__items ul li::first-letter {
  margin-left: -1em;
}

* {
  box-sizing: border-box;
  margin-top: 0;
  color: #000000;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "游明朝", YuMincho, serif;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1.5;
  background-color: #FFF;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  -webkit-appearance: none;
}

.container {
  width: 87%;
  max-width: 1180px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 85%;
  }
}

.sp-only {
  display: block;
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

.tb-only {
  display: none;
}

@media screen and (min-width: 768px) {
  .tb-only {
    display: block;
  }
}

@media screen and (min-width: 1080px) {
  .tb-only {
    display: none;
  }
}

.pc-only {
  display: none;
}

@media screen and (min-width: 1080px) {
  .pc-only {
    display: block;
  }
}

@media screen and (min-width: 1080px) {
  .st-only {
    display: none;
  }
}

.tp-only {
  display: none;
}

@media screen and (min-width: 768px) {
  .tp-only {
    display: block;
  }
}

section {
  padding: 100px 0;
}

.section__title {
  text-align: center;
  font-size: 5vw;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 40px;
}

.section__title:after {
  position: absolute;
  content: "";
  background-color: #510000;
  height: 3px;
  width: 50px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 70px;
  }
  .section__title:after {
    height: 5px;
    width: 100px;
  }
}

.banner__img {
  padding: 100px 0;
}

.fv__wrapper {
  background-image: url(/img/bg-sp.jpg);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .fv__wrapper {
    background-image: url(/img/enigma-top.jpg);
    background-position: 50% 50%;
    padding: 150px 0;
  }
}

@media screen and (min-width: 1080px) {
  .fv__wrapper {
    padding: 200px 0;
  }
}

.fv__wrapper h2 {
  color: #Fff;
  font-size: 30px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 50px;
  font-weight: normal;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  .fv__wrapper h2 {
    font-size: 40px;
    text-align: left;
    line-height: 60px;
  }
}

@media screen and (min-width: 1080px) {
  .fv__wrapper h2 {
    font-size: 50px;
    line-height: 80px;
  }
}

.fv__wrapper .fv__btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .fv__wrapper .fv__btn {
    text-align: left;
  }
}

.fv__wrapper .fv__btn a {
  color: #Fff;
  border: 1px solid #Fff;
  padding: 10px 20px;
  font-weight: normal;
  display: inline-block;
}

.fv__wrapper .fv__btn a:hover {
  background-color: #fff;
  color: #510000;
  transition: 0.3s;
}

@media screen and (min-width: 1080px) {
  .fv__wrapper .fv__btn a {
    font-size: 24px;
    padding: 15px 30px;
  }
}

.explain__wrapper {
  background-image: url(/img/explain-bg.jpg);
  background-size: cover;
  padding: 30px 0;
}

@media screen and (min-width: 1080px) {
  .explain__wrapper {
    padding: 100px;
  }
}

.explain__wrapper .explain__item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
}

@media screen and (min-width: 1080px) {
  .explain__wrapper .explain__item {
    padding: 70px;
  }
}

.explain__wrapper .explain__item p {
  text-align: center;
  color: #000000;
  line-height: 30px;
  font-size: 16px;
}

@media screen and (min-width: 1080px) {
  .explain__wrapper .explain__item p {
    font-size: 24px;
    line-height: 50px;
  }
}

.explain__wrapper .explain__item p span {
  color: #8F7800;
  font-size: 20px;
  line-height: 50px;
}

@media screen and (min-width: 1080px) {
  .explain__wrapper .explain__item p span {
    font-size: 40px;
    line-height: 60px;
  }
}

.feature__wrapper .feature__items .feature__item {
  padding: 15px;
  border: 1px solid #510000;
  margin-bottom: 50px;
}

@media screen and (min-width: 1080px) {
  .feature__wrapper .feature__items .feature__item {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
}

.feature__wrapper .feature__items .feature__item .feature__item-text {
  padding-bottom: 30px;
}

@media screen and (min-width: 1080px) {
  .feature__wrapper .feature__items .feature__item .feature__item-text {
    width: 60%;
    padding-bottom: 0;
  }
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__title {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__wrapper .feature__items .feature__item .feature__item-text .feature__title {
    display: flex;
    align-items: center;
  }
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__title h3 {
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__wrapper .feature__items .feature__item .feature__item-text .feature__title h3 {
    font-size: 30px;
    color: #510000;
    text-align: left;
  }
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__title img {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .feature__wrapper .feature__items .feature__item .feature__item-text .feature__title img {
    width: 10%;
    padding-right: 10px;
    padding-bottom: 0;
    margin: 0;
  }
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__text {
  line-height: 30px;
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__link {
  color: #510000;
  text-align: right;
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding: 10px 30px 4px 10px;
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__link:hover {
  opacity: 0.7;
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__link:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #510000;
  width: 150px;
  bottom: 0px;
  height: 1px;
  right: 0;
}

.feature__wrapper .feature__items .feature__item .feature__item-text .feature__link:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #510000;
  width: 20px;
  height: 1px;
  transform: rotate(45deg);
  right: -3px;
  bottom: 7px;
}

@media screen and (min-width: 1080px) {
  .feature__wrapper .feature__items .feature__item .feature__item-text .feature__link {
    margin-bottom: 0;
  }
}

.feature__wrapper .feature__items .feature__item .feature__item-img {
  width: 90%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .feature__wrapper .feature__items .feature__item .feature__item-img {
    width: 30%;
  }
}

.recommend__wrapper {
  background-color: #510000;
}

.recommend__wrapper .recommend__contents {
  background-color: #Fff;
  padding: 30px 20px;
}

@media screen and (min-width: 768px) {
  .recommend__wrapper .recommend__contents {
    padding: 50px;
  }
}

.recommend__wrapper .recommend__contents .recommend__items .recommend__item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
}

.recommend__wrapper .recommend__contents .recommend__items .recommend__item img {
  width: 35px;
  padding-right: 10px;
}

@media screen and (min-width: 1080px) {
  .recommend__wrapper .recommend__contents .recommend__items .recommend__item img {
    width: 40px;
  }
}

.accordion__item {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;
}

.accordion__item .accordion__title {
  display: block;
  position: relative;
  border: 1px solid #8E8E8E;
  padding: 15px 20px;
  cursor: pointer;
}

.accordion__item .accordion__title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #510000;
  border-right: solid 2px #510000;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion__item .accordion__title .question__top {
  display: flex;
  align-items: center;
  width: 90%;
}

.accordion__item .accordion__title .question__top span {
  font-size: 24px;
  color: #510000;
  padding-right: 10px;
}

@media screen and (min-width: 1080px) {
  .accordion__item .accordion__title .question__top span {
    font-size: 40px;
    padding-right: 20px;
  }
}

.accordion__title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.accordion__content {
  display: none;
  background-color: rgba(81, 0, 0, 0.1);
  padding: 15px 20px;
}

.accordion__content .question__bottom {
  display: flex;
  align-items: center;
  width: 90%;
}

.accordion__content .question__bottom span {
  font-size: 24px;
  color: #510000;
  padding-right: 10px;
}

@media screen and (min-width: 1080px) {
  .accordion__content .question__bottom span {
    font-size: 40px;
    padding-right: 20px;
  }
}

.contact__wrapper-bottom p {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
